[Unit]
Description=Music Box

[Service]
ExecStart=/home/pi/Documents/Music-Box/main.py
WorkingDirectory=/home/pi/Documents/Music-Box
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target